#container {
	height: 950px;
}

#android {
	position: absolute;
	top: 80px;
	width: 1000px;
	height: 100px;
}

div.jqans-wrapper {
    position: absolute;
    top: 180px;
}

#footer {
	position: absolute;
	top: 750px;
	z-index: 2;
	width: 1000px;
	height: 200px;
	background: #D5E2E5;
}