* {
	font-family: Arial, sans-serif;
	font-size: 14px;
	padding: 0;
	margin: 0;
}

body {
	background: #F8F8FF;
	/*background: #7FFFD4;*/
}

#container {
	margin: auto;
	width: 1000px;
	background: #FFF;
}
#header {
	position: absolute;
	top: 0;
	width: 1000px;
	height: 80px;
	background: #FFF;
}

#logo {
    margin-left: 40px;
	width: 30%;
	height: 80px;
	float: left;
}

#img_logo {
	margin: 10px;
	width: 220px;
	height: 60px;
}

#menu {
	margin: 0;
	padding: 0;
	background: #FFF;
	width: 100%;
	height: 80px;
}
#menu ul {
	list-style-type: none;
	margin-left: 10px;
	margin-right: 10px;
}
#menu ul li {
	display: inline;
}
#menu ul li a {
	margin-right: 0;
	padding: 30px 30px;
	display: inline-block;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	color: #00BFFF;
}
#menu ul li a:hover {
	color: #0099DD;
}

#content {
	width: 100%;
	margin: 0;
	background: lightblue;
}
#img_content {
	position: absolute;
	top: 80px;
	width: 1000px;
	height: 550px;
}

#slider {
	position: absolute;
	top: 650px;
	margin-left: 25px;
	z-index: 2;
	width: 950px;
	height: 400px;
	/*
	background: orange;
	border: 1px solid #888;
	*/
}

/*Rodapé*/
#footer h1 {
	color: #0398DA;
	margin-bottom: 15px;
	font-size: 16px;
}
#desenvolvedora {
	width: 260px;
	margin: 10px 40px;
	float: left;
}

#sites {
	float: left;
	width: 260px;
	margin: 10px 40px;
}

#sites a {
	text-decoration: none;
	color: #24211D;
}
#sites a:hover {
	
	color: #E37002;
}

#contato {
	width: 260px;
	margin: 10px;
	color: #24211D;
	float: right;
}
