#container {
	height: 1300px;
}

#download {
	position: absolute;
	top: 550px;
	left: 360px;
	width: 100px;
	height: 50px;
}

#slider {
	position: absolute;
	top: 650px;
	margin-left: 25px;
	z-index: 2;
	width: 950px;
	height: 400px;
	/*
	background: orange;
	border: 1px solid #888;
	*/
}

#footer {
	position: absolute;
	top: 1100px;
	z-index: 2;
	width: 1000px;
	height: 200px;
	background: #D5E2E5;
}