body{
    color: #24211D;
    font-size: 14px;
    font-family:Arial, sans-serif;
    background: #FFFAF0;
}

#container {
    margin:10px auto;
    padding:10px;
    background: #FAEBD7;
    font-weight: bold;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input {
    padding: 3px 0;
}
.block {
    width:100%;
    margin:auto;
    display:block;
    background: #FFF;
}

h1{
    display:block;
    margin-bottom:5px;
    text-align:center;
    padding:10px;
    font-size:16px;
    background: #6AC334;
    color:#FFF;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

button {
    padding:10px 30px;
    background:#6AC334;
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    border: 0;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.clear {
    clear:both;
}

#erro {
    margin-top: 10px;
    font-weight: bold;
    color: red;
}
